<md-content class="md-padding" layout-padding>
    <div layout="row">
        <div layout="column" flex style="text-align: center">
            <h1 class="md-display-2">Lunch and Learns</h1>
        </div>
    </div>
    <div layout="row">
        <div flex layout="column">
            <md-card ui-sref="estimation.start">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Front End Estimation</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Discussion on how we work together with clients to gather requirements, make assumptions and deliver an accurate estimate</p>
                </md-card-content>
            </md-card>
        </div>
    </div>

</md-content>