<div layout="column" flex>
    <md-header>Determining Software Scope</md-header>

    <md-card flex>
        <md-content>
            <img src="/images/sometimeswethinkweallagree.png" />
        </md-content>
    </md-card>
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Technical Details</span>
            </md-card-title-text>
        </md-card-title>
        <md-content>

        </md-content>
    </md-card>
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">External Dependencies</span>
            </md-card-title-text>
        </md-card-title>
        <md-content>

        </md-content>
    </md-card>
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Business Requirements</span>
            </md-card-title-text>
        </md-card-title>
        <md-content>
            <md-list>
                <md-list-item>
                    <p>Functional Requirements</p>
                </md-list-item>
                <md-list-item>
                    <p>Non Functional Requirements</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</div>