<md-content flex="100">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Explanation and Examples" md-stretch-tabs="always">
            <md-content class="md-padding">
                <h1 class="md-display-1">Explanation and Examples</h1>

                <p>Estimating is a big part of what we do at SolutionStream. Whether we are estimating a simple task or
                    an entire project. This lunch and learn is designed to help us get better at estimating and
                    architecting solutions for our clients.</p>
                <md-subheader>Examples</md-subheader>
                <md-card>
                    <md-card-content>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">CMS with Extend Search Functionality</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-list>
                            <md-list-item>
                                <p>Site would only contain about 10 pages total</p>
                            </md-list-item>
                            <md-list-item>
                                <p>Needs a custom system to keep track of many entities</p>
                            </md-list-item>
                            <md-list-item>
                                <p>Needs a robust search system that can search entities and documents (pdf, xls, etc)</p>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-content>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Mobile Website</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-list>
                            <md-list-item>
                                <p>Existing site with 100's of pages needs to be modernized</p>
                            </md-list-item>
                            <md-list-item>
                                <p>Needs the addition of a more robust login/authentication system</p>
                            </md-list-item>
                            <md-list-item>
                                <p>Wants to add a company directory</p>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="Determine Scope" md-stretch-tabs="always">
            <md-content class="md-padding">
                <h1 class="md-display-1">Determining Scope</h1>
                <img src="http://ryandivis.github.io/lunch-and-learns/images/sometimeswethinkweallagree.png"/>
                <ul>
                    <li>
                        Technical Details
                        <ul>
                            <li>What is currently in place?</li>
                            <li>What needs to be added?</li>
                        </ul>
                    </li>
                    <li>
                        Dependencies
                        <ul>
                            <li>Do we need more information in order to proceed?</li>
                            <li>Are there components that must be finished before we begin?</li>
                            <li>In what order would we need to start?</li>
                        </ul>
                    </li>
                    <li>
                        Business Requirements
                        <ul>
                            <li>Functional Requirements</li>
                            <li>Non-Functional Requirements</li>
                        </ul>
                    </li>
                    <li>Acceptance Criteria</li>
                </ul>
            </md-content>
        </md-tab>
        <md-tab label="Groundrules and Assumptions">
            <md-content class="md-padding">
                <h1 class="md-display-1">Groundrules and Assumptions</h1>
                <img src="http://ryandivis.github.io/lunch-and-learns/images/when_you_assume.png"/>
                <ul>
                    <li>Has the salesman already promised an amount? or has money been talked about?</li>
                    <li>
                        Clearly define the scope
                        <ul>
                            <li>Call out items that we won't be able to handle</li>
                        </ul>
                    </li>
                    <li>Which technologies are we going to use?</li>
                    <li>Could we break down the task into pieces that a non developer could handle?</li>
                </ul>
            </md-content>
        </md-tab>
        <md-tab label="Size">
            <md-content class="md-padding">
                <h1 class="md-display-1">Size</h1>
                <img src="http://ryandivis.github.io/lunch-and-learns/images/size.jpg"/>

                <ul>
                    <li>How long will the project take?</li>
                    <li>It is easier to talk about the project or task in man hours.</li>
                    <li>How many people do you need for the project?</li>
                    <li>Could we fit more people and do the project faster?</li>
                </ul>
            </md-content>
        </md-tab>
        <md-tab label="Risk Assessment">
            <md-content class="md-padding">
                <h1 class="md-display-2">Risk Assessment</h1>
                <img src="http://ryandivis.github.io/lunch-and-learns/images/black-hole.png"/>
                <ul>
                    <li>Which parts of the task/project have a heavy reliance on something else?</li>
                    <li>Which parts of the task/project require our assumptions to be true?</li>
                    <li>Which parts of the task/project could be huge black holes?</li>
                </ul>
            </md-content>
        </md-tab>
        <md-tab label="Deliver Estimate">
            <md-content class="md-padding">
                <h1 class="md-display-2">Deliver Estimate</h1>
                <img src="http://ryandivis.github.io/lunch-and-learns/images/deliver.png"/>
                <ul>
                    <li>Should be thinking in terms of man hours</li>
                </ul>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>